LOG_LEVEL=debug # info, debug, warn, error

HTTP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=fintrack

JWT_SECRET_KEY=very-secret-key
JWT_TOKEN_DURATION=1h
JWT_COOKIE_SECURE=true
